/* GALLERY SECTION */

.gallery-main-wrapper {
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 32px;
    padding: 40px 0;
    background-color: #f5f5f5;
}

@media only screen and (min-width: 992px) {
    .gallery-main-wrapper {
        margin-bottom: 0;
        padding: 64px 0;
    }
}

.gallery-main {
    width: calc(100vw - 32px);
    height: calc(100vw - 32px);
    text-align: center;
}

@media only screen and (min-width: 992px) {
    .gallery-main {
        width: 450px;
        height: 450px;
    }
}

.gallery-main__img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
    mix-blend-mode: darken;
    transition: opacity 0.125s ease-in;
    opacity: 1;
}

.gallery-main__img--transition {
    transition: opacity 0.125s ease-out;
    opacity: 0;
}

.gallery-main-label-wrapper {
    display: none;
}

@media only screen and (min-width: 992px) {
    .gallery-main-label-wrapper {
        display: block;
        position: absolute;
        top: 24px;
        right: 0;
    }
}

@media only screen and (min-width: 992px) {
    .gallery-main-label-box {
        text-align: right;
    }

    .gallery-main-label-box:not(:last-child) {
        margin-bottom: 8px;
    }
}

@media only screen and (min-width: 992px) {
    .gallery-main-label {
        display: inline-block;
        padding: 4px 8px;
        background-color: #fff;
        font-size: 12px;
        font-weight: 500;
        line-height: 16px;
        color: #000;
    }
}

.gallery-main-progress-bar-wrapper {
    position: absolute;
    bottom: 12px;
    left: 20px;
    width: calc(100% - 40px);
    height: 2px;
    background-color: #e6e6e6;
}

@media only screen and (min-width: 992px) {
    .gallery-main-progress-bar-wrapper {
        display: none;
    }
}

.gallery-main-progress-bar {
    position: relative;
    left: 0;
    height: 2px;
    background-color: #000;
    transition: left 0.25s ease-out;
}

.gallery-main-product-tags {
    display: flex;
    position: absolute;
    bottom: 32px;
    left: 20px;
}

@media only screen and (min-width: 992px) {
    .gallery-main-product-tags {
        display: none;
    }
}

.gallery-thumbnail-wrapper {
    display: none;
}

@media only screen and (min-width: 992px) {
    .gallery-thumbnail-wrapper {
        position: relative;
        display: block;
        margin-top: 16px;
    }
}

.gallery-thumbnail__carousel {
    display: flex;
    overflow-x: scroll;
    scroll-behavior: smooth;
    -ms-overflow-style: none;
    scrollbar-width: none;
}

.gallery-thumbnail__carousel::-webkit-scrollbar {
    display: none;
}

.gallery-thumbnail__chevron {
    display: none;
}

.gallery-thumbnail__chevron-wrapper {
    position: absolute;
    top: 0;
    display: flex;
    align-items: center;
    height: 100%;
}

.gallery-thumbnail__chevron-wrapper:first-child {
    left: 0;
    background: linear-gradient(-90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
}

.gallery-thumbnail__chevron-wrapper:last-child {
    right: 0;
    background: linear-gradient(90deg, rgba(255, 255, 255, 0) 0%, #fff 100%);
}

.gallery-thumbnail__chevron {
    display: block;
    width: 44px;
    height: 44px;
    border-radius: 50%;
    box-shadow: 0 2px 5px 0 rgba(0, 0, 0, 0.15);
    background-color: #fff;
    background-size: 20px 20px;
    background-position: center;
    background-repeat: no-repeat;
    z-index: 1;
}

.gallery-thumbnail__chevron:hover {
    cursor: pointer;
}

.gallery-thumbnail__chevron--prev {
    left: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 64'%3E%3Cpolygon fill='%23000' points='26.87 10.74 24.04 7.92 0 31.96 24.04 56 26.87 53.17 5.66 31.96 26.87 10.74'/%3E%3C/svg%3E");
}

.gallery-thumbnail__chevron--next {
    right: 0;
    background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 27 64'%3E%3Cpolygon fill='%23000' points='2.96 7.96 0.13 10.79 21.34 32 0.13 53.21 2.96 56.04 27 32 2.96 7.96'/%3E%3C/svg%3E");
}

.gallery-thumbnail {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-shrink: 0;
    flex-basis: 140px;
    height: 140px;
    border: 2px solid #fff;
    border-radius: 4px;
    opacity: 0.5;
}

.gallery-thumbnail:hover {
    cursor: pointer;
}

.gallery-thumbnail:not(:last-child) {
    margin-right: 12px;
}

.gallery-thumbnail--active {
    border-color: #000;
    opacity: 1;
}

.gallery-thumbnail__img {
    width: auto;
    height: auto;
    max-width: 100%;
    max-height: 100%;
}
